header{
    border: 2px solid purple;
}

aside{
    border: 2px solid blue;
    width: 100px;
}

main{
    border: 2px solid green;
}

[class^='container']{
    border: 1px dashed orange;
}

.row{
    border: 2px solid black;
}

[class^='col']{
    border: 2px dashed lightcoral;
}