/* **********UTILITY*********** */
.bg-darkgrey{
    background-color: #E5E5E5;
}

/* *********HEADER************* */
#small-logo{
    width: 55px;
    max-height: 80px;
    object-fit: contain;
}

#big-logo{
    width: 200px;
}
/* ***********BOTTOM*********** */
aside{
    width: 80px;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5,30,52);
}

.bottom{
    height: calc(100vh - 65px);
}

@media screen and (min-width: 992px) {
    header{
        height: 54px;
    }

    .bottom{
        height: calc(100vh - 54px);
    }

    aside{
        width: 150px;
    }
}

